/* Không được thay đổi phần này */
/* bộ màu sử dụng: 
12372A
436850
ADBC9F
FBFADA*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    background-color: white;
}

/* CODE TỰ DO  */
.section {
    margin: 75px 0;
    
}

.container-fluid-my {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.line::after {
    content: '';
    display: block; 
    width: 10%;
    height: 4px;
    background-color: #12372A;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.overplay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
/* HEADER  */
.header__top {
    padding: 10px;
    background-color: #12372A;
    font-size: 1rem;
}
.header__top a{
    text-decoration: none;
    color: white;
}
.header__top .header__right a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    margin-left: 0.25rem;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    transition: all .5s;
}
.header__top .header__right a:hover{
    background-color: white;
    color: #12372A;
}

/* main  */
.man__content {
    margin-bottom: 2rem;
}
.manage .text {
    font-size: 2.5rem;
    color: #12372A;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.manage__row .manage__col2 .manage__season {
    width: 80%;
    margin: 1rem auto;
    height: 3rem;
    border: 2px solid #12372A;
    border-radius: 5px;
    cursor: pointer;   
    box-shadow: 6px 10px 8px 0px rgba(158,158,158,0.75);
    transition: all .5s;
}
.manage__row .manage__col2 .manage__season:hover {
    background-color: #12372A;
    
}
.manage__row .manage__col2 .manage__season:hover p{
    color: white;
    
}
.manage__row .manage__col2 .manage__season p{
    color: #12372A;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
    transition: all .5s;
    
    
}
.my__active {
    background-color: #12372A;
}
.manage .manage__col2 .my__active p{
    color: white;
}

/* Page manage */
.manage .manage__col10 .nav {
    border: none;
}
.manage .manage__col10 .nav-link {
    color: #12372A;
    font-weight: 700;
    padding: 10px;
    margin: 0 20px 0 0;
    border: none;
    font-size: 1.2rem;
    
}
.manage .manage__col10 .nav-link::after {
   width: 0%;
 
   transition: all .5s;
}
.manage .manage__col10 .active::after {
    width: 100%;
   
 }
.manage .manage__col10 .nav-link:hover::after {
    width: 100%;
}


/* Inside */
.manage__col10 .tab-pane {
    padding: 10px 20px;
}

.manage__land h3, .manage__plantOverall>h3 {
    color: #12372A;
    font-size: 1.5rem;
    margin: 10px 0 20px 5px;
    font-weight: 700;
    letter-spacing: 2px;
}
.manage__land .my__col2l {
    border: 2px solid #12372A;
    margin: 0 0.7rem 1rem 0.7rem;
    border-radius: 5px;
}
.manage__land .my__row3l .my__col2l p {
    color: #12372A;
    font-size: 1.3rem;
    margin: 10px 0 10px 0px;
  
}
.manage__land .my__row3l .my__col2l p i {
   color: #ADBC9F;
  
}

/* Plant  */



.manage__plantOverall .manage__imgPlant img{
   border-radius: 10px;
   height: 85%;
   
}

.manage__plantOverall .manage__item {
    border: 2px solid #12372A;
    height: 60px;
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}
.manage__plantOverall .manage__item:hover {
  background-color: #ADBC9F;
}
.manage__plantOverall .manage__item i{
   font-size: 2rem;
   display: block;
   text-align: center;
   margin: 10px 0;
}
.manage__plantOverall .manage__item a{
    font-size: 1.5rem;
    color: #12372A;
    margin: 10px 0;
    text-decoration: none;
 }
 .manage__plantOverall .manage__item p{
    text-align: center;
 }

 .manage__plantOverall .manage__buy, .manage__plantOverall .manage__view {
    border: 2px solid #12372A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 2rem;
    margin-right: 1rem;
    text-align: center;
    margin-bottom: 30px;
    transition: all .5s;
 }
 .manage__plantOverall .manage__buy:hover, .manage__plantOverall .manage__view:hover {
    background-color: #ADBC9F;
 }

 .manage__plantOverall .m__plant{
    border-bottom: 1px solid gray;
 }

 .plus__season {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #12372A;
    
    text-align: center;
    background-color: #ADBC9F;
    bottom: 0;
    right: 0;
    transform: translate(-80%, -50%);
    position: fixed;
    box-shadow: 6px 10px 8px 0px rgba(158,158,158,0.75);
    cursor: pointer;
 }
 .plus__season i{
    line-height: 50px;
    font-size: 1.5rem;
 }