{% extends "Manage/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'Manage/CSS/m_form.css' %}">
{% endblock head %}

{% block form %}

<section class="manage section container">
  <form action="" method="post" id="season-form">  
    {% csrf_token %} 
    <p>THÔNG TIN MÙA VỤ</p>
    <label for="name">Nhập tên mùa vụ:</label>
    <input type="text" name="name" id="name">

    <label for="time_s">Thời gian bắt đầu: </label>
    <input type="date" name="time_s" id="time_s">

    <label for="time_e">Thời gian kết thúc: </label>
    <input type="date" name="time_e" id="time_e">

    <label for="num">Lợi nhuận mong muốn: </label>
    <input type="number" name="num" id="num">

    <button class="my-btn" type="submit">
      TẠO MÙA VỤ
    </button>
  </form>
</section>

<script>
  document.getElementById('season-form').addEventListener('submit', function(event) {
    var startTime = new Date(document.getElementById('time_s').value);
    var endTime = new Date(document.getElementById('time_e').value);
    var currentTime = new Date();

    if (startTime <= currentTime || endTime <= currentTime || startTime >= endTime) {
      alert("Thời gian không hợp lệ! Vui lòng chọn thời gian bắt đầu và kết thúc lớn hơn hôm nay");
      event.preventDefault(); // Ngăn chặn việc gửi form nếu thời gian không hợp lệ
    }
  });
</script>

{% endblock form %}
