{% extends 'Manage/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'Manage/CSS/userin4.css' %}">
{% endblock head %}

{% block form %}
    {% if user.is_authenticated %}
    <div class="infor container section">
        <h2>Nhập thông tin người dùng</h2>
        <form method="POST">
            {% csrf_token %}
            {% if request.method == "POST" %}
                {% include 'Manage/userin4.html' %}
            {% else %}
                <div >
                    <div >
                        <label for="name" >Họ và tên: {{name}}</label><br>
                        <input type="text" id="name" name="name" value="{{name}}" required><br><br>
                    </div>
                    <div >
                        <label for="birth">Ngày sinh: {{birth}}</label><br>
                        <input type="date" id="birth" name="birth" value="{{birth}}"required><br><br>
                    </div>
                    <script>
                        // Lấy ra input ngày sinh
                        var input = document.getElementById('birth');
                    
                        // Ngày hiện tại
                        var date = new Date(input.value);
                    
                        // Định dạng ngày tháng
                        var formattedDate = ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + date.getFullYear();
                    
                        // Gán lại giá trị định dạng vào label
                        document.querySelector('label[for="birth"]').textContent = "Ngày sinh: " + formattedDate;
                    </script>
                    <div >
                        <label for="type">Đối tượng: {{type}}</label><br>
                        <select id="type" name="type">
                            <option value="Nông dân">Nông dân</option>
                            <option value="Thương lái">Thương lái</option>
                        </select><br><br>
                    </div>
                </div>
            
                <div >
                    <div >
                        <label for="phone">Số điện thoại: {{phone}}</label><br>
                        <input type="tel" id="phone" name="phone" pattern="[0-9]{10,11}" value = "{{phone}}" required><br><br>
                    </div>
                    <div >
                        <label for="adr">Địa chỉ: {{adr}}</label><br>
                        <input type="text" id="adr" name="adr" value = "{{adr}}" required><br><br>
                    </div>
                    <div>
                        <label for="email">Email: {{user.email}}</label><br>
                        <input type="email" id="email" name="email" value = "{{user.email}}" required><br><br>
                    </div>    
                </div>
                {% comment %} {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %} {% endcomment %}
                <input type="submit" value="Gửi">
            {% endif %}
        </form>
    </div>
    {% else %}
    <p>Vui lòng đăng nhập!</p>
    {% endif %}
{% endblock form %}
