{% extends 'Manage/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'Manage/CSS/userin4.css' %}">
{% endblock head %}

{% block form %}
    {% if user.is_authenticated %}
    <div class="infor container section"  data-title="Bảng thông tin" data-intro="Hãy hoàn thành nó nhé!">
        <h2>Nhập thông tin người dùng</h2>
        <form method="POST">
            {% csrf_token %}
            {% if request.method == "POST" %}
                {% include 'Manage/userin4.html' %}
            {% else %}
                <div >
                    <div class="row input1"> 
                        <div class="col-7 in__col">
                            <label for="name" >Họ và tên: {{name}}</label><br>
                            <input type="text" id="name" name="name" value="{{name}}" required><br><br>
                        </div>
                        <div class="col-5 in__col">
                            <label for="birth">Ngày sinh: {{birth}}</label><br>
                            <input type="date" id="birth" name="birth" value="{{birth}}"required><br><br>
                        </div>
                    </div> 
                    
                    <script>
                        // Lấy ra input ngày sinh
                        var input = document.getElementById('birth');
                    
                        // Ngày hiện tại
                        var date = new Date(input.value);
                    
                        // Định dạng ngày tháng
                        var formattedDate = ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + date.getFullYear();
                    
                        // Gán lại giá trị định dạng vào label
                        document.querySelector('label[for="birth"]').textContent = "Ngày sinh: " + formattedDate;
                    </script>
                    <div >
                        <label for="type">Đối tượng: {{type}}</label><br>
                        <select id="type" name="type">
                            <option value="Nông dân">Nông dân</option>
                            <option value="Thương lái">Thương lái</option>
                        </select><br><br>
                    </div>
                </div>
            
                <div class="row input2"> 
                    <div class="col-4 in__col">
                        <label for="phone">Số điện thoại: {{phone}}</label><br>
                        <input type="tel" id="phone" name="phone" pattern="[0-9]{10,11}" value = "{{phone}}" required><br><br>
                    </div>

                    <div class="in__col col-8">
                        <label for="email">Email: {{user.email}}</label><br>
                        <input type="email" id="email" name="email" value = "{{user.email}}" required><br><br>
                    </div>    
                </div> 
                    
                    <div >
                        <label for="adr">Địa chỉ: {{adr}}</label><br>
                        <input type="text" id="adr" name="adr" value = "{{adr}}" required><br><br>
                    </div>
                   
           
                {% comment %} {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %} {% endcomment %}
                <div class="submit__group row">
                    <div class="col-3"> 
                        <input type="submit" value="Xác nhận">
                    </div>

                    <div class="col-3"> 
                        <input class= "hahaha" type="button" id="editBtn" value="Sửa thông tin">
                    </div>
                    
                   
                </div>
                
            {% endif %}
        </form>
    </div>
    {% else %}
    <p>Vui lòng đăng nhập!</p>
    {% endif %}

    <script>

        // Lấy ra nút "Sửa thông tin"
        var editBtn = document.getElementById('editBtn');

        // Lấy ra các trường input cần thay đổi thuộc tính "disabled"
        var nameInput = document.getElementById('name');
        var birthInput = document.getElementById('birth');
        var typeInput = document.getElementById('type');
        var phoneInput = document.getElementById('phone');
        var emailInput = document.getElementById('email');
        var adrInput = document.getElementById('adr');

        // Mặc định: disable tất cả các trường input
        nameInput.disabled = true;
        birthInput.disabled = true;
        typeInput.disabled = true;
        phoneInput.disabled = true;
        emailInput.disabled = true;
        adrInput.disabled = true;

        // Xử lý sự kiện khi người dùng nhấn vào nút "Sửa thông tin"
        editBtn.addEventListener('click', function() {
            // Enable tất cả các trường input
            nameInput.disabled = false;
            birthInput.disabled = false;
            typeInput.disabled = false;
            phoneInput.disabled = false;
            emailInput.disabled = false;
            adrInput.disabled = false;
        });

        if (localStorage.getItem('doneTour') === 'yes') {
            // Tour đã được hoàn thành trước đây; không hiện tour
        } else {
            var intro = introJs();
            intro.setOptions({
                showProgress: true,
                showBullets: false,
            });
    
            intro.oncomplete(function() {
                // Khi người dùng nhấn "Done", set giá trị trong localStorage
                localStorage.setItem('doneTour', 'yes');
            });
    
            intro.onexit(function() {
                // Cũng set giá trị khi người dùng thoát ra khỏi intro
                localStorage.setItem('doneTour', 'no');
            });
    
            // Khởi tạo tour
            intro.start();
        }
    </script>
{% endblock form %}
